@import 'quasar.variables'


/* General */

body
  background-color #fff
  overflow-x hidden

.q-icon
  transition color .2s

@media print
  @page
    size auto
    margin 25mm
    orphans 2
    widows 3

  body
    font-size 16px
    background-color transparent
    overflow auto
    padding 0 !important
    margin 0 !important
