@import 'quasar.variables'


/* General */

body
  font-family 'LibreBaskerville', serif
  background-color #fff
  overflow-x hidden

.layout-header, .layout-aside
  box-shadow none !important

.layout-padding
  padding 2rem 2rem 1rem

.modal-buttons
  padding 0 2rem 2rem
  justify-content space-between

hr
  border none
  border-top 1px solid $neutral
  margin-bottom 1rem

input
  display block
  width 100%
  padding 8px
  margin-bottom .5rem
  border 1px solid $tertiary
  outline none


/* Printing */

@media print
  @page
    size auto
    margin 25mm
    orphans 4
    widows 4

    @bottom-center
      content "…"

  body
    font-size 16px
    background-color transparent
    overflow auto
    padding 0 !important
    margin 0 !important

  h1:not(:first-child)
    page-break-before always

  h1, h2, h3, h4, h5, h6
    page-break-after avoid

  table, figure, blockquote
    page-break-inside avoid
