fieldset
  border none

.body--dark
  @media print
    background-color transparent !important
    color black !important

.bg-dark-page
  background-color $dark-page

  @media print
    background-color transparent !important

.text-caption
  text-transform uppercase

@media print
  .q-header,
  .q-drawer
    display none

  .q-page-container
    padding 0 !important

  h1
    page-break-before always

  hr+h1
    page-break-before none

  hr
    visibility hidden
    margin 0
    padding 0
    border none
    page-break-after always

  h1, h2, h3, h4, h5, h6
    page-break-after avoid

  table, figure, blockquote
    width 100%
    page-break-inside avoid
