// app global css
@import '~variables'

/* Elements */

legend
  text-transform uppercase
  margin 2rem 0 .5rem

  &:first-child
    margin-top 0

/* Layout */

.q-layout-header,
.q-layout-drawer,
.q-layout-page
  overflow-x hidden

.q-layout-header,
.q-layout-drawer,
.q-layout-page,
.q-item-separator-component
  color $grey-10
  box-shadow none
  transition background-color .3s ease, color .3s ease, border-color .3s ease

.q-layout-header,
.q-layout-page
  background-color white

.q-layout-drawer
  border-right 1px solid $neutral
  background-color darken(white, 2.5%)

/* Dark Mode */

.dark-mode
  .q-layout-header,
  .q-layout-drawer,
  .q-layout-page
    color $grey-4

  .q-layout-header,
  .q-layout-page
    background-color $tertiary

  .q-layout-drawer
    border-color lighten($tertiary, 10%)
    background-color darken($tertiary, 10%)

  .q-item-separator-component
    background-color lighten($tertiary, 10%)

  .q-item:hover,
  .q-item-link:hover
    color $grey-4
    background-color lighten($tertiary, 5%)

    .q-item-label
      color $grey-2

    .q-item-side,
    .q-item-sublabel
      color inherit

/* Printing */

@media print
  .q-layout-header, .q-layout-drawer
    display none

  .q-layout-page-container, .q-layout-page
    display inline
    width 100% !important
    max-width 100% !important
    padding 0 !important
    margin 0 !important
    overflow visible
